.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.list {
  width: 200px;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  margin: 0px 10px;
}
.title {
  font-weight: bold;
  font-size: 30px;
}
.titleContainer {
  background-color: sandybrown;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid rgb(192, 181, 181);
  margin-bottom: 20px;
}
.listConatiner {
  background-color: rgb(250, 222, 99);
  border-radius: 10px;
  border: 1px solid rgb(248, 248, 248);
  padding: 2px 0px;
}
.headding {
  background-color: rgb(158, 42, 158);
  width: 100%;
  margin-bottom: 10px;
  color: white;
  font-size: 30px;
}
